@model IEnumerable<MiniPrj_1.Models.Trajet>

@{
    ViewBag.Title = "Index";
}

<p>
    <i class="fas fa-plus-circle"></i>
    @Html.ActionLink("Ajouter Trajet", "Create")
</p>
<table class="table table-hover table-responsive-lg">
    <tr class="thead-dark">
        <th>
            @Html.DisplayNameFor(model => model.aller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_depart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_arriver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heure_depart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heure_arriver)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_depart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_arriver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heure_depart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heure_arriver)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
