@model MiniPrj_1.Models.Societe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Societe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RaisonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaisonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateur.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
